# Env
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.db
*.sqlite3

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

backend\.codex
backend\.agents
backend\test.db